<div class="cart">
  <h1>Cart</h1>
  <h3 *ngIf="isCartEmpty(); else totalPrice">Cart is empty</h3>
  <ng-template #totalPrice>
    <h3>Total price {{ getTotalPriceOfProducts() | currencyPipe }}</h3>
  </ng-template>
  <div class="cards">
    <div
      *ngFor="let item of items | keyvalue"
      class="card"
      [attr.id]="'card-' + item.key.id"
    >
      <!-- [count]="item.value" [product]="item.key" -->
      <h2 class="card-name">
        {{ item.key.name }}
      </h2>
      <div class="card-price">
        {{ item.key.price | currencyPipe }}
      </div>
      <!-- <p>Quantity {{ item.value }}</p> -->

      <div class="button-container">
        <button type="button" class="btn-small" (click)="setCountDec(item.key)">
          -
        </button>
        <span>{{ item.value }}</span>
        <button type="button" class="btn-small" (click)="setCountInc(item.key)">
          +
        </button>
      </div>
      <button
        class="btn btn-light"
        type="button"
        (click)="removeFromCart(item.key)"
      >
        Remove from cart
      </button>
    </div>
  </div>
</div>
