<header class="header">
  <nav class="header-navbar">
    <div class="navbar-item">
      <img class="logo" src="../favicon.ico" width="50" alt="coffee cup" />
    </div>
    <div
      class="navbar-item"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="navbar-link" [routerLink]="['/store']">Products</a>
    </div>
    <div cartTooltip class="navbar-item" [routerLinkActive]="'active'">
      <a class="navbar-link" [routerLink]="['/store/cart']">
        <span>Cart</span>
        <span class="amount" *ngIf="isCartEmpty()">
          ({{ getCountOfItemsInCart() }})
        </span>
      </a>
    </div>
  </nav>
</header>
