<div class="cart">
  <h1>Cart</h1>
  <h3 *ngIf="isCartEmpty(); else totalPriceSection">Cart is empty</h3>
  <ng-template #totalPriceSection>
    <h3>Total price {{ totalPrice | currencyPipe }}</h3>
    <button class="btn btn-dark" type="button" (click)="clearCart()">
      Clear cart
    </button>
    <div class="cards">
      <div
        *ngFor="let item of cart | keyvalue"
        class="card"
        [attr.id]="'card-' + item.key.id"
      >
        <h2 class="card-name">
          {{ item.key.name }}
        </h2>
        <div class="card-price">
          {{ item.key.price | currencyPipe }}
        </div>
        <div class="btn-circle-group">
          <button
            type="button"
            class="btn-circle"
            (click)="removeOneItemFromCart(item.key)"
          >
            -
          </button>
          <div class="count">{{ item.value }}</div>
          <button
            type="button"
            class="btn-circle"
            (click)="addOneItemToCart(item.key)"
          >
            +
          </button>
        </div>
        <button
          class="btn btn-light"
          type="button"
          (click)="removeFromCart(item.key)"
        >
          Remove from cart
        </button>
      </div>
    </div>
  </ng-template>
</div>
