@import "/src/assets/scss/variables.scss";

.table {
  position: relative;
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 2em;
  min-height: 1000px;
}

.btn-circle {
  cursor: pointer;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-circle:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.spinner {
  display: flex;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
