@import "/src/assets/scss/variables.scss";
.table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 2em;
}

.row {
  border: 1px solid black;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
