<table class="table">
  <thead class="thead">
    <tr>
      <th class="col-1">
        <p>ID <i class="arrow down"></i></p>
      </th>
      <th class="col-2">
        <p>Name <i class="arrow up"></i></p>
      </th>
      <th class="col-3">
        <p>Price <i class="arrow down"></i></p>
      </th>
      <th class="col-4">
        <button type="button" class="btn-circle">+</button>Add
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="row" *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currencyPipe }}</td>
      <td>
        <button type="button" class="btn-circle">&#9998;</button>
        <button type="button" class="btn-circle">&#10007;</button>
      </td>
    </tr>
  </tbody>
</table>
