<table class="table">
  <thead>
    <tr>
      <th class="col-1">
        <select class="select">
          <option value="">ID</option>
        </select>
      </th>
      <th class="col-2">
        <select class="select">
          <option value="">Name</option>
        </select>
      </th>
      <th class="col-3">
        <select class="select">
          <option value="">Price</option>
        </select>
      </th>
      <th class="col-4"><span class="dot"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr class="row" *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currencyPipe }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
