<table class="table">
  <thead>
    <tr class="row">
      <th class="column" (click)="sort(key)" *ngFor="let key of keys">
        <span
          [ngClass]="{
            'sort-asc': sortKey === key && sortDirection === 'asc',
            'sort-desc': sortKey === key && sortDirection === 'desc'
          }"
        >
          {{ capitalizeFirstLetter(key) }}
        </span>
      </th>
      <th class="column">
        <button type="button" class="btn-circle">+</button>Add
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="row" *ngFor="let item of data">
      <td class="column" *ngFor="let key of keys" [ngSwitch]="key">
        <span *ngSwitchCase="'price'">{{ item[key] | currencyPipe }}</span>
        <span *ngSwitchCase="'created'">{{ item[key] | date }}</span>
        <span *ngSwitchDefault>{{ item[key] }}</span>
      </td>
      <td class="column">
        <button type="button" class="btn-circle">&#9998;</button>
        <button type="button" class="btn-circle">&#10007;</button>
      </td>
    </tr>
  </tbody>
</table>
