<section class="section">
  <h1 class="section-title">Products</h1>
  <div class="cards">
    <div
      *ngFor="let product of products"
      class="card"
      [attr.id]="'card-' + product.id"
    >
      <div class="card-name">{{ product.name }}</div>
      <div class="card-price">{{ product.price }}$</div>
      <button class="button btn-add" type="button">Add to cart</button>
    </div>
  </div>
  <div class="button-container">
    <button class="button btn-load" type="button">Load more</button>
  </div>
</section>
