<div class="container">
  <header class="header">
    <nav class="header-navbar">
      <div class="navbar-item">
        <div class="logo"></div>
      </div>
      <div class="navbar-item">
        <a class="navbar-link" href="#">Products</a>
      </div>
      <div class="navbar-item">
        <a class="navbar-link" href="#">Cart</a>
      </div>
    </nav>
  </header>

  <section class="section">
    <h1 class="section-title">Products</h1>
    <div class="cards">
      <div
        *ngFor="let product of products"
        class="card"
        [attr.id]="'card-' + product.id"
      >
        <div class="card-name">{{ product.name }}</div>
        <div class="card-price">{{ product.price }}$</div>
        <button class="button" type="button">Add to cart</button>
      </div>
    </div>
    <button class="button" type="button">Load more</button>
  </section>

  <footer class="footer">
    <div class="footer-item">
      <a class="footer-link" href="#">Admin <span class="arrow">→</span></a>
    </div>
  </footer>
</div>
