<div>
  <header>
    <h1>Products</h1>
    <div class="searchbar">
      <app-search (modelChangeEvent)="search($event)"></app-search>
      <app-filter
        [options]="filterOptions"
        (submit)="filterByPrice($event)"
      ></app-filter>
    </div>
  </header>
  <ng-container *ngIf="loading$ | async; else table">
    <div class="spinner">
      <app-spinner></app-spinner>
    </div>
  </ng-container>
  <ng-template #table>
    <app-table [items]="filteredProducts"></app-table>
  </ng-template>
</div>
