<div>
  <header>
    <h1>Products</h1>
    <app-search (modelChangeEvent)="search($event)"></app-search>
  </header>
  <ng-container *ngIf="loading$ | async; else table">
    <div class="spinner">
      <app-spinner></app-spinner>
    </div>
  </ng-container>
  <ng-template #table>
    <app-table [items]="productsFiltered"></app-table>
  </ng-template>
</div>

<footer class="footer">
  <span class="page">5/10</span>
  <button type="button" class="btn-circle"><i class="arrow left"></i></button>
  <button type="button" class="btn-circle"><i class="arrow right"></i></button>
</footer>
