<div class="container" *ngIf="visibility">
  <div class="carttooltip">
    <div class="row" *ngFor="let item of cart | keyvalue">
      <div class="name">{{ item.key.name }}</div>
      <div class="count">{{ item.value }}</div>
      <button
        class="btn btn-dark"
        type="button"
        (click)="removeProduct(item.key)"
      >
        Remove
      </button>
    </div>
    <div class="total-price">
      <b>Total price: {{ totalPrice | currencyPipe }}</b>
    </div>
  </div>
</div>
