<div class="login-form">
  <div class="form-container">
    <form id="form">
      <input
        type="text"
        id="username"
        class="input"
        name="username"
        placeholder="Username"
        required
      />
      <input
        type="password"
        id="password"
        class="input"
        name="password"
        placeholder="Password"
        required
      />
      <button type="submit" id="login-btn" class="btn btn-dark">Login</button>
    </form>
  </div>
</div>
<footer class="footer">
  <div class="footer-item">
    <a class="footer-link" [routerLink]="['/store']">
      Landing <span class="arrow">→</span>
    </a>
  </div>
</footer>
