<div>
  <header>
    <h1>Products</h1>
    <app-search (search)="searchItemsInProductsList($event)"></app-search>
  </header>

  <section>
    <ng-container *ngIf="products$ | async as products; else loading">
      <ng-container *ngIf="products.length > 0; else emptyTable">
        <app-table [items]="products"></app-table>
      </ng-container>
      <ng-template #emptyTable>
        <div>NO VALUE FOUND</div>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <div class="spinner">
        <app-spinner></app-spinner>
      </div>
    </ng-template>
  </section>
</div>

<footer class="footer">
  <span class="page">5/10</span>
  <button type="button" class="btn-circle"><i class="arrow left"></i></button>
  <button type="button" class="btn-circle"><i class="arrow right"></i></button>
</footer>
