:host {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  min-height: 1000px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.footer {
  align-self: end;
}

.page {
  padding: 5px;
}

.spinner {
  display: flex;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
