<header>
  <h1>Products</h1>
  <div class="form-container">
    <form id="form">
      <input
        type="text"
        id="search"
        class="input-search"
        name="search"
        placeholder="Search..."
      />

      <div>
        <select name="" id="" class="select">
          <option value="">Price more than</option>
        </select>
        <input
          type="text"
          id="price"
          class="input-price"
          name="price"
          value="10"
        />
      </div>

      <button
        type="submit"
        id="apply"
        name="button"
        class="btn btn-dark btn-apply"
      >
        Apply
      </button>
    </form>
  </div>
</header>

<app-table [items]="products"></app-table>
<footer class="footer">
  <span class="page">5/10</span>
  <button type="button" class="btn-circle"><i class="arrow left"></i></button>
  <button type="button" class="btn-circle"><i class="arrow right"></i></button>
</footer>
