
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hys_academy_angular-primary: mat.define-palette(mat.$indigo-palette);
$hys_academy_angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hys_academy_angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hys_academy_angular-theme: mat.define-light-theme((
  color: (
    primary: $hys_academy_angular-primary,
    accent: $hys_academy_angular-accent,
    warn: $hys_academy_angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($hys_academy_angular-theme);

@import "~normalize.css";
@import "../src/assets/fonts/fonts.scss";
@import "../src/assets/scss/variables.scss";

body {
  font-family: "Inter";
  font-size: 24px;
  color: $text-color;
  margin: 50px 0;
}

.btn {
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  padding: 15px 15px;
}

.btn-circle {
  cursor: pointer;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-circle:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-light {
  background-color: $btn-light-color;
  color: $btn-light-text-color;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-light:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn-dark {
  background: $btn-dark-color;
  color: $btn-dark-text-color;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-dark:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
