@import "~normalize.css";
@import "../src/assets/fonts/fonts.scss";
@import "../src/assets/scss/variables.scss";

body {
  font-family: "Inter";
  font-size: 24px;
  color: $text-color;
  margin: 50px 0;
}
