<div>
  <header>
    <h1>Products</h1>
    <div class="searchbar">
      <app-search #searchComponent (valueChanges)="search($event)"></app-search>
      <app-filter
        (filter)="filterByPrice($event)"
        [filterType]="filterType"
        [filterCondition]="filterState"
      ></app-filter>
    </div>
  </header>
  <ng-container *ngIf="loading$ | async; else table">
    <div class="spinner">
      <app-spinner></app-spinner>
    </div>
  </ng-container>
  <ng-template #table>
    <app-table
      [items]="filteredProducts"
      (add)="openAddDialog()"
      (edit)="openEditDialog($event)"
      (delete)="openDeleteDialog($event)"
    ></app-table>
  </ng-template>
</div>
